create table #tmp (name nvarchar(255), description nvarchar(1000), goal nvarchar(4000))




declare cur cursor for select name,description,goal from #tmp
open cur

declare @name nvarchar(255), @description nvarchar(1000), @goal nvarchar(4000)
declare @SoaChapterId int

fetch next from cur into @name, @description, @goal

while @@FETCH_STATUS=0
begin

	insert into SoaChapter (SoaType) values (4)
	select @SoaChapterId=max(Id) from SoaChapter
	insert into SoaChapterItems (SoaChapterId, Name, Description, Goal, IsoCode) values (@SoaChapterId, @name, @description, @goal, 'nb-no')

	fetch next from cur into @name, @description, @goal

end

close cur
deallocate cur

drop table #tmp