
.marginDiv-AdministrativeUser {
margin-left:20px;
}
.imgSize-AdministrativeUser {
  max-width: 200px;
}
.inputBlock {
    margin-left: 20px !important;
}

.matTabDecoration {
    background-color: white;
    margin: 8px;
}