<div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <form [formGroup]="userForm">
        <mat-card>
            <mat-card-content>
                <div class="container">
                    <div layout-gt-sm="row">
                            <div [fxFlex]="calc3cols" class="col3">
                            </div>
                            <div class="buttonRow">
                                <mat-form-field class="companySelect">
                                    <mat-select name="companyName" placeholder="Company" formControlName="companyId">
                                        <mat-option *ngFor="let single of companies" [value]="single.companyId" (click)="onChangeCompany(single.companyId)">
                                            {{ single.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <input style='padding:7px;margin:15px auto;width:150px;'
                                        placeholder="Search name column..."
                                        (keyup)='filterUserName($event)' />
                                <button mat-raised-button color="accent" (click)="onCreateUser()">CREATE</button>
                            </div>
                        </div>
                    </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <ngx-datatable class="material fullscreen"
                           [columnMode]="'force'"
                           [headerHeight]="50"
                           [footerHeight]="50"
                           [rowHeight]="50"
                           [rows]="users"
                           [count]="tableData.totalItems"
                           [offset]="tableData.currentPage - 1"
                           [limit]="defaultPageSize || 20"
                           [externalPaging]="true"
                           (page)="onPage($event)">
                <ngx-datatable-column name="Name">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a [routerLink]="['/administrative/user/edit/', row['userId']]">{{row['username']}}</a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Firstname" prop="firstName"></ngx-datatable-column>
                <ngx-datatable-column name="Lastname" prop="lastName"></ngx-datatable-column>
                <ngx-datatable-column name="Title"></ngx-datatable-column>
                <ngx-datatable-column name="Phone"></ngx-datatable-column>
                <ngx-datatable-column name="Email"></ngx-datatable-column>
                <ngx-datatable-column name="Department"></ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template
                                 let-rowCount="rowCount"
                                 let-pageSize="pageSize"
                                 let-selectedCount="selectedCount"
                                 let-curPage="curPage"
                                 let-offset="offset"
                                 let-isVisible="isVisible">
                        <div class="page-count">
                            Current page: {{ curPage }} / {{ tableData.totalPages}}
                        </div>
                        <div class="pageSizeSelect">
                            Rows per page:
                            <mat-select name="pageSizeSelect" [value]="defaultPageSize || 20">
                                <mat-option *ngFor="let singleSize of pageSizes" [value]="singleSize" (click)="onPageSizeChange(singleSize)">
                                    {{ singleSize }}
                                </mat-option>
                            </mat-select>
                        </div>
                        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                         [pagerRightArrowIcon]="'datatable-icon-right'"
                                         [pagerPreviousIcon]="'datatable-icon-prev'"
                                         [pagerNextIcon]="'datatable-icon-skip'"
                                         [page]="curPage"
                                         [size]="pageSize"
                                         [count]="rowCount"
                                         [hidden]="false"
                                         (change)="onPageChange($event)">
                        </datatable-pager>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </mat-card>
    </form>
</div>
