

.dialog-headline {
    font-weight: 300;
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: 0;
    padding: 0.7em;
    text-align: left;
    font-size: 1.5em;
    background-color: rgb(63,81,181);
    color: white;
}

.material-icons {
float:right;
}

.dialogAddbtn :hover {
    cursor: pointer;
    border-color: gray;
}

#closeDialogBtn {
    cursor: pointer;
}

.matCardDecoration {
    display: initial;
}

.dialogAddbtn {
    box-shadow:none; 
    float:right; 
    font-size:16px;
}