    <app>
        <div style=" position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
            <div style="width: 64px; height: 64px; background: rgba( 198, 226, 255, .5 ) url('content/loading.gif') 50% 50% no-repeat;"></div>
            <p>Please wait ...</p>
        </div>
    </app>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
