<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="RAAPEntities" connectionString="metadata=res://*/RAAPModel.csdl|res://*/RAAPModel.ssdl|res://*/RAAPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=RAAP;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RAAPMasterEntities" connectionString="metadata=res://*/RAAPMaster.csdl|res://*/RAAPMaster.ssdl|res://*/RAAPMaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=RAAPMaster;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>