<div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <form [formGroup]="controlForm">
        <mat-card>
            <mat-card-content>
                <div class="container">
                    <div [fxFlex]="calc3cols" class="col3"></div>
                    <div class="button-row">
                        <mat-slide-toggle class="matSlideDecoration" name="enabled" formControlName="enabled">Enabled</mat-slide-toggle>
                        <button *ngIf="editMode" mat-raised-button color="warn" (click)="onDelete()" [disabled] = "disableButtons">DELETE</button>
                        <button mat-raised-button color="accent" (click)="onSave()" [disabled]="controlForm.invalid || disableButtons">{{ editMode ? 'UPDATE' : 'ADD' }}</button>
                        <button mat-raised-button (click)="exitControl()">EXIT</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-tab-group class="demo-tab-group matTabDecoration" >
            <mat-tab label="CONTROL">
                <mat-card class="matDialogBox">
                    <mat-card-content class="md-padding">
                        <div layout-gt-sm="row">
                            <div layout-gt-sm="column" flex="100">
                                <mat-form-field>
                                    <input matInput placeholder="Name" formControlName="name">
                                    <mat-error *ngIf="controlForm.hasError('required', 'name')">Name is required field</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div layout-gt-sm="row">
                            <div layout-gt-sm="column" flex="50">
                                <mat-form-field class="md-block" flex-gt-sm *ngIf="editMode; else templateName">
                                    <mat-select placeholder="Category" name="categoryName" formControlName="categoryName" [(ngModel)]="controlForm.controls.category.value.controlCategoryId">
                                        <mat-option *ngFor="let cat of controlCategory" [value]="cat.controlCategoryId">
                                            {{ cat.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="controlForm.hasError('required', 'categoryName')">Please choose a category</mat-error>
                                </mat-form-field>
                                <ng-template #templateName>
                                    <mat-form-field class="md-block" flex-gt-sm>
                                        <mat-select placeholder="Category" name="category"
                                                    formControlName="category" [(ngModel)]="selectedControlCategory">
                                            <mat-option *ngFor="let cat of controlCategory"
                                                        [value]="cat">
                                                {{ cat.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="controlForm.hasError('required', 'category')">Please choose a category</mat-error>
                                    </mat-form-field>
                                </ng-template>
                            </div>
                            <div layout-gt-sm="column" flex="50" class="divFormDecoration">
                                <mat-form-field class="md-block" flex-gt-sm>
                                    <mat-select placeholder="Status" name="category"
                                                formControlName="status">
                                        <mat-option *ngFor="let cat of statusCategory"
                                                    [value]="cat.id">
                                            {{ cat.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="controlForm.hasError('required', 'category')">Please choose a status</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div layout-gt-sm="row">
                            <div layout-gt-sm="column" flex="50" >
                                <mat-form-field class="md-block" flex-gt-sm>

                                    <mat-select placeholder="Responsible User" name="responsibleUserId"
                                                formControlName="responsibleUserId">
                                        <mat-option *ngFor="let cat of responsibleUserCategory" [value]="cat.userId">
                                            {{ cat.firstName + ' ' + cat.lastName }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="controlForm.hasError('required', 'category')">Please select responsible user</mat-error>
                                </mat-form-field>
                            </div>
                            <div layout-gt-sm="column" flex="50" class="divFormDecoration">
                                <mat-slide-toggle class="matSlideDecoration md-block" formControlName="legalObligation" >
                                    Legal obligation
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <p  class="headerPurposeDecoration">Purpose of control</p>
                        <div layout-gt-sm="row">
                            <div layout-gt-sm="column" flex="25">
                                <mat-slide-toggle class="matSlideDecoration md-block" formControlName="prevent" >
                                    Prevent
                                </mat-slide-toggle>
                            </div>
                            <div layout-gt-sm="column" flex="25">
                                <mat-slide-toggle class="matSlideDecoration md-block" formControlName="detect" >
                                    Detect
                                </mat-slide-toggle>
                            </div>
                            <div layout-gt-sm="column" flex="25">
                                <mat-slide-toggle class="matSlideDecoration md-block" formControlName="react" >
                                    React
                                </mat-slide-toggle>
                            </div>
                            <div layout-gt-sm="column" flex="25">
                                <mat-slide-toggle class="matSlideDecoration md-block" formControlName="avoid">
                                    Avoid
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <div layout-gt-sm="row" style="padding-top:15px">
                            <div layout-gt-sm="column" flex="100">
                                <mat-form-field>
                                    <textarea matInput #input placeholder="Description" formControlName="description" maxlength="1000"></textarea>
                                    <mat-hint align="end">{{input.value?.length || 0}}/1000</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-tab>

            <mat-tab label="DATES AND COST">
                <mat-card class="matDialogBox">
                    <mat-card-content class="md-padding">
                        <div layout-gt-sm="row">
                            <div layout-gt-sm="column" flex="50">
                                <mat-form-field>
                                    <mat-select placeholder="Alert person" formControlName="alertUserId">
                                        <mat-option *ngFor="let cat of responsibleUserCategory" [value]="cat.userId">
                                            {{ cat.firstName + ' ' + cat.lastName }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="controlForm.hasError('required', 'userName')">Please choose a user</mat-error>
                                </mat-form-field>
                            </div>
                            <div layout-gt-sm="column" flex="50" class="divFormDecoration">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker1" placeholder="Alert date" formControlName="alertDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div layout-gt-sm="row">
                            <div layout-gt-sm="column" flex="32">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker2" placeholder="Deadline" formControlName="deadline">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div layout-gt-sm="column" flex="32"class="divFormDecoration">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker3" placeholder="Executed date" formControlName="executedDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div layout-gt-sm="column" flex="32" class="divFormDecoration">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker4" placeholder="Valid to" formControlName="validTo">
                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker #picker4></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div layout-gt-sm="row">
                            <div layout-gt-sm="column" flex="50">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Investment Cost" formControlName="investmentCost" />
                                </mat-form-field>
                            </div>
                            <div layout-gt-sm="column" flex="50" class="divFormDecoration">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Maintenance Cost" formControlName="maintenanceCost" />
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-tab>

            <mat-tab label="RISK REDUCE">
                <div class="divRiskReduceDecoration">

                </div>
                <div formArrayName="risks">
                    <div flex="100" *ngFor="let r of controlForm.controls.risks.controls; let i = index">
                        <div [formGroupName]="i">
                            <mat-tab-group class="matTabDecoration">
                                <mat-tab label="{{r.value.name}}">
                                    <div>
                                        <div layout-gt-sm="row" class="{{slider1.value|controlSliderFilter}}">
                                            <a flex="10" class="matSlideName">Probability</a>
                                            <mat-slider flex="80" min="1" max="100" step="1" #slider1 aria-label="Probability slider" formControlName="isoProbability" value="{{r.value.isoProbability}}"></mat-slider>
                                            <a class="matSlideName">{{slider1.value}}%</a>
                                        </div>

                                        <div layout-gt-sm="row" class="{{slider2.value|controlSliderFilter}}">
                                            <a flex="10" class="matSlideName">Impact</a>
                                            <mat-slider flex="80" min="1" max="100" step="1" #slider2 aria-label="Impact slider" formControlName="isoImpact" value="{{r.value.isoImpact}}"></mat-slider>
                                            <a class="matSlideName">{{slider2.value}}%</a>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="EVALUATION">
                <mat-card class="matDialogBox">
                    <mat-card-content>
                        <div class="evaluationDiv-Control">
                            <div *ngIf="selectedEvaluation" [innerHtml]="selectedEvaluation.text" disabled></div>
                        </div>
                        <div class="flex-row">
                            <a class="evaluationLink-Control" mat-raised-button color="basic" (click)="onOpenEvaluationDialog()">EDIT EVALUATION</a>
                            <mat-form-field class="fixed-width">
                                <mat-select [(value)]="selectedEvaluation" placeholder="Revision">
                                    <mat-option *ngFor="let evaluaton of evaluations" [value]="evaluaton">
                                        {{evaluaton.revision}}: {{evaluaton.createdOn | date:'dd.MM.yyyy hh:mm'}} ({{evaluaton.user.username}})
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
