<md-toolbar class="md-whiteframe-1dp white-tb">
    <div class="md-toolbar-tools">
        <h3>
           {{vm.process.name}} ({{vm.process.category.name}})
        </h3>
        <span flex></span>
      
        <md-button class="md-raised md-warn" aria-label="Delete" ng-click="delete()" ng-show="!createMode">
            Delete
        </md-button>
        <md-button class="md-raised" aria-label="Save" ng-click="edit()">
            Edit
        </md-button>

    </div>
</md-toolbar>


<md-content flex id="main-view">
    <div layout="column" flex="noshrink">

        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
      

        <md-card>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="business process">
                    <div class="md-padding" layout-xs="column" layout="row">

                        <div flex-xs flex-gt-xs="50" layout="column">
                            <md-card>
                              
                                <div class="custom-card-header md-padding">
                                    <span class="md-headline">ISO 27001 (Calculated)</span>
                                    <ng-md-icon icon="assignment" size="30"></ng-md-icon>
                                </div>
                                <md-card-content>
                                   <div risk-graphs risks="vm.process.risks" hasregistered="false" flex></div>
                                 </md-card-content>
                            </md-card>
                        </div>
                        <div flex-xs flex-gt-xs="50" layout="column">
                            <md-card>

                                <div class="custom-card-header md-padding">
                                    <span class="md-headline">Description</span>
                                    <ng-md-icon icon="description" size="30"></ng-md-icon>
                                </div>
                                <md-card-content>
                                    {{vm.process.description}}

                                </md-card-content>
                            </md-card>

                            <md-card>

                                <div class="custom-card-header md-padding">
                                    <span class="md-headline">Responsible person</span>
                                    <ng-md-icon icon="person" size="30"></ng-md-icon>
                                </div>
                                <md-card-content>
                                    {{vm.process.responsibleUser && vm.process.responsibleUser.userId > 0 ? vm.process.responsibleUser.firstName + ' ' + vm.process.responsibleUser.lastName : "Nobody is responsible for '" + vm.process.name + "'"}}
                                </md-card-content>
                            </md-card>
                        </div>

                        </div>

                
                    <div class="md-padding" layout-xs="column" layout="row">
                        <md-card flex>
                            <div class="custom-card-header md-padding">
                                <span class="md-headline">Threats</span>
                                <ng-md-icon icon="description" size="30"></ng-md-icon>
                            </div>
                            <md-card-content>

                                <div layout-gt-sm="row">


                                    <div flex threat-list threats="vm.threats"></div>
                                </div>

                            </md-card-content>
                        </md-card>





                    </div>
                    <div style="height:70px;width:100%;"></div>

                </md-tab>
                <md-tab label="evaluation">
                    <md-content class="md-padding">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Evaluation</strong></div>
                            <div class="panel-body">
                                <div ng-bind-html="vm.process.evaluations[0].text" class="evaluation-view"></div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>

        </md-card>


    </div>

    <div layout="row" flex="noshrink">
        <div id="footer-text" ng-include="'app/views/shared/footer.html'"></div>
    </div>
</md-content>

