:host ::ng-deep .node circle {
    fill: #fff;
    stroke: #004e66;
    stroke-width: 1px;
}

:host ::ng-deep .node text {
    font: 14px sans-serif;
    word-break: break-all;
}

:host ::ng-deep .node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

:host ::ng-deep .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}
