
<md-toolbar class="md-whiteframe-1dp white-tb">
    <div class="md-toolbar-tools">
        <h2>
            <span>{{nameprefix}} categories</span>
        </h2>
        <span flex></span>
        <md-autocomplete md-selected-item="vm.selectedItem" ng-show="authentication.hasRole('Administrator') || authentication.hasRole('SystemAdministrator')"
                         md-search-text="vm.searchText"
                         md-selected-item-change="item != null ? edit(item.id) : console.log('no item!')"
                         md-items="item in search(vm.searchText)"
                         md-item-text="item.name"
                         md-min-length="2"
                         placeholder="Search here">
            <md-item-template>
                <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
            <md-not-found>
                Nothing found!
            </md-not-found>
        </md-autocomplete>
        <md-button class="md-raised" aria-label="Create" ng-click="create()" ng-show="authentication.hasRole('Administrator') || authentication.hasRole('SystemAdministrator')">
            Create
        </md-button>
    </div>
</md-toolbar>


<md-content flex id="main-view">
    <div layout="column" flex="noshrink">

        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

        <md-card>

            <md-table-container>
                <table md-table>
                    <thead md-head md-order="vm.orderBy" md-on-reorder="gridReOrder">
                    <tr md-row>

                        <th md-column md-order-by="name"><span>Name</span></th>
                        <th md-column md-order-by="description"><span>Description</span></th>
                        <th md-column md-order-by="createdOn"><span>Created</span></th>
                        
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="item in vm.dataset.items">
                        <td md-cell><a ng-show="authentication.hasRole('Administrator') || authentication.hasRole('SystemAdministrator')" href="{{ 'app/' + urlprefix + '/edit/' + item[idfield]}}">{{item.name}}</a>
                        <span ng-show="!authentication.hasRole('Administrator') && !authentication.hasRole('SystemAdministrator')">{{item.name}}</span></td>
                        <td md-cell>{{item.description}}</td>
                        <td md-cell>{{item.createdOn | date:'dd.MM.yyyy HH:mm:ss' }}</td>
                    </tr>

                    <tr md-row ng-show="vm.dataset.items.length <= 0">
                        <td md-cell colspan="3">
                            No items found!
                        </td>
                    </tr>
                    </tbody>
                </table>


                <md-table-pagination md-limit="vm.pageSize" md-page="vm.page" md-total="{{vm.dataset.totalItems}}" md-on-paginate="gridPagination" md-options="[5, 10, 15, 20]"></md-table-pagination>
            </md-table-container>

        </md-card>


    </div>

    <div layout="row" flex="noshrink">
        <div id="footer-text" ng-include="'app/views/shared/footer.html'"></div>
    </div>
</md-content>





